<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233280865272-9kbr7a6gqophsi20ueoj6k5i5dr0jgpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233280865272-9kbr7a6gqophsi20ueoj6k5i5dr0jgpb</string>
	<key>API_KEY</key>
	<string>AIzaSyC663UvPjx6cnTahVjiHorr9fiDK6zSbIY</string>
	<key>GCM_SENDER_ID</key>
	<string>233280865272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.runonflux.sspkey</string>
	<key>PROJECT_ID</key>
	<string>ssp-key</string>
	<key>STORAGE_BUCKET</key>
	<string>ssp-key.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233280865272:ios:8218b3f3e444651b2d0c0d</string>
</dict>
</plist>